# Ignore all whisper model files and folders
/whisper-models

# Ignore environment variable files
.env

# Ignore Python cache directories
__pycache__/

# Ignore Porcupine model files only in porcupine-model directory
porcupine-model/*.ppn